
<div class='center'>
    <div>
        <h1 id='landing-header'>Welcome to PT</h1>
    </div>
    <div class='landing_content'>
        <p>This website provides a twitter feed to follow your favourite restaurant.</p>
    </div>
</div>