<h1>Listing Users</h1>
 
<table>
  <tr>
    <th>Email</th>
    <th>Live</th>
    <th colspan="2"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.live %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>