<div class="main_footer">
    This page and the accompanying Twitter page are brought to you by&nbsp;<a href="https://github.com/Jamie-Burns-Oulu" target="_blank">Jamie</a>&nbsp;and&nbsp;<a href="https://github.com/maresiaerik" target="_blank">Erik</a>
</div> 