<div class="main_header">
  <div class='header-heading'>
    <h1>PostTaste</h1>
  </div>
  <div class="button-row">
    <a href='/' class='button'>Home</a>
    <a href='/restaurants' class='button'>Menus</a>
    <%# <a href='/users' class='button'>Users</a> %>
    <a href='/users/new' class='button'>Sign Up</a>
  </div>
</div>